<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.sourceforge.rjPokerReplay.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="net.sourceforge.rjPokerReplay.Perspective"
            id="RjPokerReplay.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="net.sourceforge.rjPokerReplay.views.ViewTable"
            id="RjPokerReplay.ViewTable"
            name="TableView">
      </view>
      <view
            allowMultiple="false"
            class="net.sourceforge.rjPokerReplay.views.ViewHandhistory"
            id="RJPoker Replay.Handhistory"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="false"
            class="net.sourceforge.rjPokerReplay.views.ViewTableinfo"
            id="RJPoker Replay.ViewTableinfo"
            name="%view.name.2">
      </view>
      <view
            allowMultiple="false"
            class="net.sourceforge.rjPokerReplay.views.ViewHandinfo"
            id="RJPoker Replay.ViewHandinfo"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="RjPokerReplay.application"
            name="RJ Poker Replay">
         <property
               name="windowImages"
               value="icons/034_16x16.gif,icons/034_32x32.gif">
         </property>
         <property
               name="Rj Poker Replay"
               value="RJ Poker Replay">
         </property>
         <property
               name="appName"
               value="RJ Poker Replay">
         </property>
         <property
               name="aboutText"
               value="RJ Poker Replay by Ralf Joswig&#x0A;Vers. 1.2&#x0A;&#x0A;Die jeweils aktuellste Version kann hier heruntergeladen werden:&#x0A;https://sourceforge.net/project/showfiles.php?group_id=224389&#x0A;&#x0A;Anregungen und Fehlermeldung bitte an die eMail-Adresse&#x0A;   ralfjoswig@users.sourceforge.net">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="RJ Poker Replay.HandAction"
            label="HandAction"
            visible="true">
         <action
               allowLabelUpdate="false"
               class="net.sourceforge.rjPokerReplay.actions.HandActionHandBack"
               icon="$nl$/icons/player_start.png"
               id="RJ Poker Replay.HandStart"
               label="%action.label.0"
               style="push"
               toolbarPath="handActions\1"
               tooltip="%action.tooltip.0">
         </action>
         <action
               allowLabelUpdate="false"
               class="net.sourceforge.rjPokerReplay.actions.HandActionStepBack"
               icon="$nl$/icons/player_rew.png"
               id="RJ Poker Replay.StepBack"
               label="%action.label.1"
               style="push"
               toolbarPath="handActions\2"
               tooltip="%action.tooltip.1">
         </action>
         <action
               allowLabelUpdate="false"
               class="net.sourceforge.rjPokerReplay.actions.HandActionNextStep"
               icon="$nl$/icons/player_fwd.png"
               id="RJ Poker Replay.StepForward"
               label="%action.label.2"
               style="push"
               toolbarPath="handActions\3"
               tooltip="%action.tooltip.2">
         </action>
         <action
               allowLabelUpdate="false"
               class="net.sourceforge.rjPokerReplay.actions.HandActionNextHand"
               icon="$nl$/icons/player_end.png"
               id="RJ Poker Replay.HandNext"
               label="%action.label.3"
               style="push"
               toolbarPath="handActions\4"
               tooltip="%action.tooltip.3">
         </action>
         <action
               allowLabelUpdate="false"
               class="net.sourceforge.rjPokerReplay.actions.HandActionNextOwnAction"
               icon="$nl$/icons/player_eject.png"
               id="RJ Poker Replay.OwnAction"
               label="%action.label.4"
               style="push"
               toolbarPath="handActions\5"
               tooltip="%action.tooltip.4">
         </action>
         <action
               allowLabelUpdate="true"
               class="net.sourceforge.rjPokerReplay.actions.HandActionAutoplay"
               icon="$nl$/icons/player_play.png"
               id="RJ Poker Replay.Autoplay"
               label="%action.label.5"
               style="push"
               toolbarPath="handActions\6"
               tooltip="%action.tooltip.5">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sourceforge.rjPokerReplay.preferences.PreferencePagePokerstars"
            id="rjpokerreplay.preferences.PreferencePagePokerstars"
            name="Pokerstars">
      </page>
      <page
            class="net.sourceforge.rjPokerReplay.preferences.PreferenceGeneral"
            id="RJ Poker Replay.General"
            name="%page.name.1">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sourceforge.rjPokerReplay.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="net.sourceforge.rjPokerReplay.wizard.Pokerstars"
            id="RJ Poker Replay.pokerstars"
            name="Pokerstars">
      </wizard>
   </extension>
   <extension
         id="rjPokerReplayHelp"
         name="Hilfe"
         point="org.eclipse.help.toc">
      <toc
            file="inhalt.xml"
            primary="true">
      </toc>
      <toc
            file="inhaltStart.xml">
      </toc>
      <toc
            file="inhaltNachspielen.xml">
      </toc>
   </extension>

</plugin>
