<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="io.gitlab.lipor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="io.gitlab.lipor.Perspective"
            id="RjPokerReplay.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="io.gitlab.lipor.views.ViewTable"
            id="RjPokerReplay.ViewTable"
            name="TableView">
      </view>
      <view
            allowMultiple="false"
            class="io.gitlab.lipor.views.ViewHandhistory"
            id="RJPoker Replay.Handhistory"
            name="%view.name.1">
      </view>
      <view
            allowMultiple="false"
            class="io.gitlab.lipor.views.ViewTableinfo"
            id="RJPoker Replay.ViewTableinfo"
            name="%view.name.2">
      </view>
      <view
            allowMultiple="false"
            class="io.gitlab.lipor.views.ViewHandinfo"
            id="RJPoker Replay.ViewHandinfo"
            name="%view.name.3">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="Lipor.application"
            name="Lipor">
         <property
               name="windowImages"
               value="icons/16x16.png">
         </property>
         <property
               name="appName"
               value="Lipor">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="RJ Poker Replay.HandAction"
            label="HandAction"
            visible="true">
         <action
               allowLabelUpdate="false"
               class="io.gitlab.lipor.actions.HandActionHandBack"
               icon="$nl$/icons/player_start.png"
               id="RJ Poker Replay.HandStart"
               label="%action.label.0"
               style="push"
               toolbarPath="handActions\1"
               tooltip="%action.tooltip.0">
         </action>
         <action
               allowLabelUpdate="false"
               class="io.gitlab.lipor.actions.HandActionStepBack"
               icon="$nl$/icons/player_rew.png"
               id="RJ Poker Replay.StepBack"
               label="%action.label.1"
               style="push"
               toolbarPath="handActions\2"
               tooltip="%action.tooltip.1">
         </action>
         <action
               allowLabelUpdate="false"
               class="io.gitlab.lipor.actions.HandActionNextStep"
               icon="$nl$/icons/player_fwd.png"
               id="RJ Poker Replay.StepForward"
               label="%action.label.2"
               style="push"
               toolbarPath="handActions\3"
               tooltip="%action.tooltip.2">
         </action>
         <action
               allowLabelUpdate="false"
               class="io.gitlab.lipor.actions.HandActionNextHand"
               icon="$nl$/icons/player_end.png"
               id="RJ Poker Replay.HandNext"
               label="%action.label.3"
               style="push"
               toolbarPath="handActions\4"
               tooltip="%action.tooltip.3">
         </action>
         <action
               allowLabelUpdate="false"
               class="io.gitlab.lipor.actions.HandActionNextOwnAction"
               icon="$nl$/icons/player_eject.png"
               id="RJ Poker Replay.OwnAction"
               label="%action.label.4"
               style="push"
               toolbarPath="handActions\5"
               tooltip="%action.tooltip.4">
         </action>
         <action
               allowLabelUpdate="true"
               class="io.gitlab.lipor.actions.HandActionAutoplay"
               icon="$nl$/icons/player_play.png"
               id="RJ Poker Replay.Autoplay"
               label="%action.label.5"
               style="push"
               toolbarPath="handActions\6"
               tooltip="%action.tooltip.5">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="io.gitlab.lipor.preferences.PreferencePageWin2day"
            id="rjpokerreplay.preferences.PreferencePagePokerstars"
            name="Win2day">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="io.gitlab.lipor.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="io.gitlab.lipor.wizard.Win2day"
            id="lipor.win2day"
            name="Win2day">
      </wizard>
   </extension>

</plugin>
